* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea:focus,
input:focus,
select:focus,
button:focus,
a:focus {
  outline: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.game-container {
  width: 60vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #006400;

  border: 10px solid #8B4513	;
  border-radius: 10px;

  gap: 30px;
}

.game-container p {
  font-size: 50px;
  font-family: "VT323", monospace;

  color: #FFF;

  letter-spacing: 3px;
}

.game-container input {
  width: 50px;
  height: 50px;

  border: none;
  border-bottom: 4px solid #FFF;

  text-align: center;

  color: #FFF;

  background-color: transparent;

  font-size: 40px;
  font-weight: bold;
  font-family: "VT323", monospace;
}