* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea:focus,
input:focus,
select:focus,
button:focus,
a:focus {
  outline: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.black-board {
  width: 60vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #006400;

  border: 10px solid #8B4513;
  border-radius: 10px;
}

.black-board h2 {
  font-size: 35px;
  font-family: "VT323", monospace;
  font-weight: normal;

  color: #FFF;
}

.separator-container {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.separator {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  width: 60%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container p {
  font-size: 50px;
  font-family: "VT323", monospace;

  color: #FFF;

  letter-spacing: 15px;
}

.game-container input {
  width: 50px;
  height: 50px;

  border: none;
  border-bottom: 4px solid #FFF;

  font-size: 50px;
  font-family: "VT323", monospace;
  color: #FFF;

  text-align: center;

  background-color: transparent;
}

.game-container button {
  width: 50px;
  height: 50px;

  background-color: transparent;

  border: none;
}

.restart-game-container {
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-inline: 25px;
}

.restart-game-container button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.game-end {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.game-end button {
  width: 250px;
  height: 50px;

  background-color: transparent;

  border: 2px solid #FFF;
  border-radius: 5px;

  font-size: 25px;
  font-family: "VT323", monospace;
  color: #FFF;

  cursor: pointer;
}

.game-end button:hover {
  background-color: #FFF;
  color: #006400;
}

.start-game {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Corpo boneco */

.puppet {
  width: 40%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  width: 50px;
  height: 50px;

  border-radius: 50px;
  border: 4px solid #FFF;
}

.stem {
  display: flex;
  gap: 15px;
}

.body {
  width: 3px;
  height: 65px;

  background-color: #FFF;
}

.left-arm {
  width: 3px;
  height: 50px;

  background-color: #FFF;

  transform: rotate(45deg)
}

.right-arm {
  width: 3px;
  height: 50px;

  background-color: #FFF;

  transform: rotate(135deg)
}

.legs {
  display: flex;
  gap: 25px;

  margin: -5px;
}

.left-leg {
  width: 3px;
  height: 60px;

  background-color: #FFF;

  transform: rotate(30deg)
}

.right-leg {
  width: 3px;
  height: 60px;

  background-color: #FFF;

  transform: rotate(-30deg)
}